/*Setting the root shortcuts*/

:root{
    /*Primary*/
    --mainbackground:#090b1a;
    --cardbackground:#1b1938;
    --accent:#aa5cdb;

    /*Neutral*/
    --white:#ffffff; /*main heading and stats*/
    --transparentwhite:#ffffffbf; /*main paragraph*/
    --lesstranswhite: #ffffff99; /*stat headings*/

    /*Fonts Inter, Lexend Deca*/
}

body{
    background-color: #090b1a;
}

.card-container{
    width: 290px;
    display: grid;
    grid-template-rows: 2;
    background-color: var(--cardbackground);
    min-height: 65vh;
    margin: 30px 18px 30px 18px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.image-container{
    background-image: url("../images/image-header-mobile.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 290px;
    height: 230px;
}
.image{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: absolute;
    width: 290px;
    height: 230px;
    /*It's important to use rgba to overlay*/
    background:rgba(83, 0, 138, 0.5);
    overflow: hidden;

}


.info-content{
    margin: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;

}

.title{
    font-family: 'inter', sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: var(--white);
    padding: 0px 30px;
    padding-top: 20px;
}

.title .insights{
    color: #aa5cdb;
}

.paragraph{
    color: var(--transparentwhite);
    font-size: 12px;
    font-family: 'inter', sans-serif;
    line-height: 1.5;
    padding: 0px 40px;
}

.stats{
    margin: auto;
}
.stats .number{
    color: var(--white);
    font-family: 'inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding-top: 7px;
}

.stats .name{
    font-family: 'Lexend Deca', sans-serif;
    text-transform: uppercase;
    color: var(--lesstranswhite);
    font-size: 10px;
    letter-spacing: 1.5px;
}